/***********************************************************************
						                Global Styles
***********************************************************************/
/** {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/copy in UIWebView */
/*}*/

body {
  color:#535353;
}

ul.agenda-list {
    list-style: none;
    padding:0;
    margin:0;
}

li.item { 
    padding-left: 1em; 
    text-indent: -.7em;
}

li.item:before {
    content: "• ";
    color: #9fbe3c; /* or whatever color you prefer */
}

textarea:focus, input:focus, button:hover, button:active{
    outline: 0;
}

*:focus {
    outline: 0;
}

.container {
	padding-right:0;
	padding-left:0;
	width:1024px;
  -webkit-user-select: none;
}

/*  Next/Prev arrows bottom of page  */
.arrow-left {
  position: absolute;
  bottom: 18px;
  left:5px;
  opacity: .2;
  z-index:100000000;
}

.arrow-right {
  position: absolute;
  bottom: 18px;
  right:5px;
  opacity: .2;
  z-index:100000000;
}

.btn {
  border-radius: 4px;
  border-top:0;
  border-bottom: 2px solid;
  background-color: #ccc;
}

/***********************************************************************
                            Agenda.html
***********************************************************************/
.company-logo {
  width: 125px;
  height:auto;
  position: absolute;
  bottom: 17px;
  left: 50px;
}

.agenda-title {
  text-align: center;
  margin:50px auto;
  font-family: Helvetica;
  font-weight: 300;
  font-size: 60px;
  color:#9fbe3c;
}

ul.agenda-list {
  margin-left:25px;
}

li.item {
    margin-left:100px;
    margin-bottom:30px;
    font-size:30px;
}

.item.ng-enter {
  -webkit-animation: bounceIn 1s;
  -moz-animation: bounceIn 1s;
  -o-animation: bounceIn 1s;
  animation: bounceIn 1s;
}

.item.ng-leave {
  -webkit-animation: zoomOut 1s;
  -moz-animation: zoomOut 1s;
  -o-animation: zoomOut 1s;
  animation: zoomOut 1s;
}

.checkbox {
  display: block;
  margin-left: 40px;
  float:left;
}

.sortable-arrow {
  float:right;
  margin-top:5px;
  cursor: move;
  cursor: -webkit-grabbing;

}

.edit-buttons {
  position: absolute;
  top:55px;
  right:10px;
  color:#545454;
  border-color:#666;
}

.add {
  border-left:0;
  border-right:#999;
}

.save {
  border-right:0;
}

/***********************************************************************
                            Dialog Boxes
***********************************************************************/
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size:22px;
}

.add-agenda-item {
  border:2px solid #ccc;
  height:45px;
  width:100%;
  padding:6px 12px;
  color:#363636;
  background-color: #fff;
  font-size: 18px;
  display: block;
  border-radius: 4px;
  margin-top:15px;
}

.add-button {
  display: block;
  margin-top:15px;
  margin-left:370px;
  color:#fff;
  background-color:#7c7c7c;
  font-size: 14px;
  text-align: center;
  border-bottom:2px solid #494949;
  border-radius: 4px;
  cursor:pointer;
}

.save-buttons {
  margin-top:25px;
}

.save-button {
  color:#fff;
  background-color:#7c7c7c;
  font-size: 14px;
  text-align: center;
  border-bottom:2px solid #494949;
  border-radius: 4px;
  cursor:pointer;
  position: relative; 
  left:282px;
}

.save-button:focus {
  outline:none;
}

.cancel-button {
  color:#545454;
  background-color:#ccc;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  border-bottom:2px solid #494949;
  border-radius: 4px;
  cursor:pointer;
  float:right;
}

.edit-controls {
  width:100px;
  float: left;
  margin-right:25px;
}

.edit-item-input {
  border: 2px solid #ccc;
  height: 45px;
  width: 90%;
  padding: 6px 12px;
  color: #363636;
  background-color: #fff;
  font-size: 18px;
  display: block;
  border-radius: 4px;
  margin-top:10px;
}

.alert-warning {
  color: #d96d00;
  background-color: #f5e4d1;
  border-color:#e6d3bb;
  margin-top: 15px;
}

.edit-item-list {
  list-style-type: none;
}

.add-agenda-item.ng-dirty, .edit-item-input.ng-dirty {
  border:2px solid #54A844;
}

.add-agenda-item.ng-invalid, .edit-item-input.ng-invalid {
  border:2px solid #a94442;
}

.text-validation {
  color:#8a6d3b;
  position: relative;
  left:279px;
}

.text-validation-additem {
  color:#8a6d3b;
  position: relative;
  left:356px;
}

.title-label, .items-label {
  display: inline-block;
  font-weight: 700;
  margin-top:10px;
  font-size:18px;
}

.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #7d8494;
}

.table>tbody>tr>td {
  vertical-align: middle;
  padding:10px;
}

.saved-agendas-container {
  width:100%;
  min-height: 100px;
  max-height: 500px;
  border:2px solid #9fbe3c;
  border-radius: 4px;
  display: block;
  margin: 15px auto;
  padding:10px;
  overflow-y:scroll;
}

.launch-agenda-btn, .delete-agenda-btn {
  font-size:1.5em;
  color:#535353;
}

.delete-agenda-btn {
  position: relative;
  left:10px;
  font-size:1.5em;
}

.agenda-saved-title, .agenda-saved-title:hover, .agenda-saved-title:active {
  color:#535353;
}

/***********************************************************************
                            Media Queries
***********************************************************************/
/*iPad Portrait*/
@media only screen and (width: 768px) and (orientation:portrait){

  .container {
    width:768px;
  }

  .agenda-title {
    text-align: center;
    margin:50px auto;
    font-size:60px;
    color:#9fbe3c;
  }

  .agenda-list {
    margin-left:5px;
    margin-bottom: 0;
  }

  .edit-buttons {
    position: absolute;
    top:12px;
    left:160px;
  }

}

/***************************************************
        iPhone 6+
****************************************************/
/*Landscape*/
@media only screen and (width:736px) and (orientation: landscape) {
  .container {
    width:736px;
  }

  .agenda-title {
    margin:0 auto;
    font-size: 40px
  }

  ul.agenda-list {
    margin-left:-55px;
  }

  li.item {
    font-size:25px;
    margin-bottom:20px;
  }

  .edit-buttons {
    position: absolute;
    top:17px;
    left:285px;
  }
}

/*Portrait*/
@media only screen and (width:414px) and (orientation: portrait) {
  .container {
    width:414px;
  }

  .agenda-title {
    margin:15 auto;
    font-size: 40px
  }

  ul.agenda-list {
    margin-left:-55px;
  }

  li.item {
    font-size:25px;
  }

  .edit-buttons {
    position: absolute;
    top:12px;
    left:70px;
  }

  .text-validation-additem {
    color: #8a6d3b;
    position: relative;
    left: 320px;
  }

  .add-button {
    margin-left: 333px;
  }

  .save-button {
    left:245px;
  }

}

/***************************************************
        iPhone 6
****************************************************/

/*Landscape*/
@media only screen and (width: 667px) and (orientation:landscape) {
  .container {
    width:667px;
  }

  .agenda-title {
    margin:0 auto;
    font-size: 40px
  }

  ul.agenda-list {
    margin-left:-55px;
  }

  li.item {
    font-size:25px;
    margin-bottom:20px;
  }

  .edit-buttons {
    position: absolute;
    top:17px;
    left:255px;
  }
}

/*Portrait*/
@media only screen and (width:375px) and (orientation:portrait) {
 .container {
    width:375px;
  }

  .agenda-title {
    /*margin-left:-35px;*/
    font-size: 40px
  }

  ul.agenda-list {
    margin-left:-55px;
  }

  li.item {
    font-size:25px;
  }

  .edit-buttons {
    position: absolute;
    top:12px;
    left:60px;
  }

  .text-validation-additem {
    color: #8a6d3b;
    position: relative;
    left: 282px;
  }

  .add-button {
    margin-left: 293px;
  }

  .save-button {
    left:200px;
  }
}

/***************************************************
        iPhone 5
****************************************************/

/*Landscape*/
@media only screen and (width: 568px) and (orientation:landscape) {
  .container {
    width:568px;
  }

  .agenda-title {
    margin:0 auto;
    font-size: 35px
  }

  ul.agenda-list {
    margin-left:-55px;
  }

  li.item {
    font-size:22px;
    margin-bottom:20px;
  }

  .edit-buttons {
    position: relative;
    top: 6px;
    left: 185px;
  }

  .ngdialog.ngdialog-theme-plain .ngdialog-content {
    margin:-90px auto;
  }
}

/*Portrait*/
@media only screen and (width:320px) and (orientation:portrait) {
 .container {
    width:320px;
  }

  .agenda-title {
    /*margin-left: -90px;*/
    font-size: 35px;
  }

  ul.agenda-list {
    margin-left:-55px;
  }

  li.item {
    font-size:22px;
  }

  .edit-buttons {
    position: absolute;
    top:12px;
    left:60px;
  }

  .text-validation-additem {
    color: #8a6d3b;
    position: relative;
    left: 228px;
  }

  .add-button {
    margin-left: 240px;
  }

  .save-button {
    left:145px;
  }
}

/*************************************************************************************
                Media Queries for Android
**************************************************************************************/
/*This is an Inside Mediafly Interactive. Our Salesreps only use iOS. Really no need
to do Android on it*/
/***************************************************
        Samsung Galaxy Tab
****************************************************/
/*Landscape*/
@media only screen and (height:600px) and (orientation: landscape) {
.container {
    width:600px;
  }

  .agenda-title {
    margin:0px auto;
    font-size: 50px
  }

  ul.agenda-list {
    margin-left:-100px;
  }

  li.item {
    font-size:30px;
    margin-left:90px;
  }

  .edit-buttons {
    position: absolute;
    top:25px;
    right:10px;
  }

  .text-validation-additem {
    color: #8a6d3b;
    position: relative;
    left: 357px;
  }

  .add-button {
    margin-left: 368px;
  }

  .save-button {
    left:278px;
  }
}

/*Portrait*/
@media only screen and (width:600px) and (orientation: portrait) {
.container {
    width:600px;
  }

  .agenda-title {
    /*margin:15 auto;*/
    font-size: 50px
  }

  ul.agenda-list {
    margin-left:-100px;
  }

  li.item {
    font-size:30px;
  }

  .edit-buttons {
    position: absolute;
    top:12px;
    left:120px;
  }

  .text-validation-additem {
    color: #8a6d3b;
    position: relative;
    left: 357px;
  }

  .add-button {
    margin-left: 368px;
  }

  .save-button {
    left:278px;
  }
}

/***************************************************
        Google Nexus 7
****************************************************/
/*Landscape*/
@media only screen and (width:966px) and (orientation: landscape) {
  .container {
    width:996px;
  }

  .agenda-title {
    margin:0px auto;
    font-size: 50px
  }

  ul.agenda-list {
    margin-left:-100px;
  }

  li.item {
    font-size:30px;
    margin-left:200px;
  }

  .edit-buttons {
    position: absolute;
    top:25px;
    right:10px;
  }

  .text-validation-additem {
    color: #8a6d3b;
    position: relative;
    left: 357px;
  }

  .add-button {
    margin-left: 368px;
  }

  .save-button {
    left:278px;
  }
}

/*Portrait*/
@media only screen and (width:603px) and (orientation: portrait) {
  .container {
      width:603px;
    }

    .agenda-title {
      /*margin:15 auto;*/
      font-size: 50px
    }

    ul.agenda-list {
      margin-left:-100px;
    }

    li.item {
      font-size:30px;
    }

    .edit-buttons {
      position: absolute;
      top:12px;
      left:120px;
    }

    .text-validation-additem {
      color: #8a6d3b;
      position: relative;
      left: 357px;
    }

    .add-button {
      margin-left: 368px;
    }

    .save-button {
      left:278px;
    }
}

/***************************************************
        Samsung Galaxy S5
****************************************************/
/*Landscape*/
@media only screen and (width:640px) and (orientation: landscape) {
  .container {
    width:640px;
  }

  .agenda-title {
    margin:0px auto;
    font-size: 40px
  }

  ul.agenda-list {
    margin-left:-100px;
  }

  li.item {
    font-size:25px;
    margin-left:200px;
    margin-bottom:20px;
  }

  .edit-buttons {
    position: absolute;
    top:25px;
    right:10px;
  }

  .text-validation-additem {
    color: #8a6d3b;
    position: relative;
    left: 357px;
  }

  .add-button {
    margin-left: 368px;
  }

  .save-button {
    left:278px;
  }
}

/*Portrait*/
@media only screen and (width:360px) and (orientation: portrait) {
 .container {
    width:360px;
  }

  .agenda-title {
    
    font-size: 40px
  }

  ul.agenda-list {
    margin-left:-55px;
  }

  li.item {
    font-size:25px;
  }

  .edit-buttons {
    position: absolute;
    top:12px;
    left:60px;
  }

  .text-validation-additem {
    color: #8a6d3b;
    position: relative;
    left: 267px;
  }

  .add-button {
    margin-left: 280px;
  }

  .save-button {
    left:180px;
  }
}