<div class="invisible-close" ng-click="closeApp()"></div>
<h1 class="agenda-title" editable-text="agenda">{{agenda}}</h1>

<hr>

<ul dnd-list="agendaList" ng-repeat="item in agendaList track by $index" ng-click="setSelected($index)" class="agenda-list">
    <li 
        class="item"
        ng-class="{'active-item': item.checked}"
        editable-text="item.name"
        e-style="color:red"
        onaftersave="saveAgenda()"
        >
        <span class="fa fa-angle-double-right"><span> {{item.name}}
    </li>
    <span class="radio-buttons" ng-show="showEditButtons"><input type="checkbox" ng-model="item.checked"> Highlight?</span>
    <span class="fa fa-trash fa-2x trashcan" ng-show="showEditButtons" ng-click="removeItem($index)"></span>
</ul>

<div growl></div>
<img src="{{thumbnailUrl}}" class="company-logo">