<h1 class="agenda-title">{{title}}</h1>

<hr>

<ul class="agenda-list" data-as-sortable data-ng-model="agendaList">
    <li class="item" ng-repeat="item in agendaList" data-as-sortable-item>
		<div class="edit-controls">
		    <div class="checkbox" ng-show="showEditButtons">
		        <span><input type="checkbox" ng-model="item.checked"></span>
		    </div>    
		    <div class="sortable-arrow" ng-show="showEditButtons" data-as-sortable-item-handle>
		        <span class="fa fa-arrows-v"></span>
		    </div>
		</div>
    	{{item.name}}
    </li>
</ul>

<div growl></div>
<img src="images/mediafly-logo.png" class="company-logo">


<div class="btn-group edit-buttons" ng-show="showEditButtons">
    <button class="btn btn-default edit-buttons add"  ng-click="addDialogBox()"><span class="fa fa-plus"></span></button>
    <button class="btn btn-default edit-buttons edit" ng-click="editDialogBox()"><span class="fa fa-pencil"></span></button>
    <button class="btn btn-default edit-buttons delete" ng-click="deleteDialogBox($index)"><span class="fa fa-trash"></span></button>
    <button class="btn btn-default edit-buttons save" ng-click="saveDialogBox()"><span class="fa fa-floppy-o"></span></button>
</div>