<label>Edit Text</label>
<form role="form" name="editAgendaText" novalidate>
	<ul>
			<!-- title -->
			<label class="title-label">Title</label>
			<input class="edit-item-input" name="editTitleField" type="text" ng-model="title" ng-model-options="{ debounce: 250 }" required>
					<div ng-messages="editAgendaText.editTitleField.$error" role="alert">
				    	<span ng-message="required" class="text-validation">
				    		Required
				    	</span>
				 	</div>
			<!-- items -->
			<label class="items-label" ng-show="agendaList.length">Items</label>
			<li class="edit-item-list" ng-repeat="edit in agendaList">
					<input class="edit-item-input" name="editField" type="text" ng-model="edit.name" ng-model-options="{ debounce: 250 }" required>
					<div ng-messages="editAgendaText.editField.$error" role="alert">
				    	<span ng-message="required" class="text-validation">
				    		Required
				    	</span>
				 	</div>					
			</li>
	</ul>

	<div class="save-buttons">
		<button type="submit" class="btn btn-default save-button close-modal" ng-click="saveEditedItems()">Save</button>
		<button class="btn btn-default cancel-button" ng-click="closeDialogBox()">Cancel</button>
	</div>
</form>