<div ng-click="openMenu()">
    <div class="menu-trap-door"></div>
</div> 


<!-- Menu -->
<div class="actions {{actions}}" ng-show="showActions">

    <div class="action-item" ng-click="showEditButtons=!showEditButtons; drag();">
        <span class="fa fa-pencil fa-2x"></span>
        <span class="menu-name">Edit</span>
    </div>     

    <div class="action-item" ng-click="saveAgendaToTemplate()">
        <span class="fa fa-floppy-o fa-2x"></span>
        <span class="menu-name">Save</span>
    </div>  

    <div class="action-item" ng-click="loadAgendaFromTemplate()">
        <span class="fa fa-download fa-2x"></span>
        <span class="menu-name">Load</span>
    </div>  

    <div class="action-item" ng-click="closeMenu()">
        <span class="fa fa-times-circle-o fa-2x"></span>
        <span class="menu-name">Close</span>
    </div>          
    <!--<a class="action-item" href="mfly://control/done">Close</a>-->
</div>

<!-- add item input -->
<div class="inputtextbox animate-enter" ng-show="showEditButtons">
    <input type="text" ng-model="newItem" placeholder="Add new agenda item..." ng-keydown="add($event)">
</div>