<label>Saved Agendas</label>
	<div class="saved-agendas-container">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Created</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<!-- this will be in an ngRepeat -->
				<tr ng-repeat="agenda in savedAgendas track by $index | orderBy: 'dateCreated'">
					<td ng-click="launchSavedAgenda(agenda)">{{agenda.title}}</a></td>
					<td>{{agenda.dateCreated | date: 'shortDate'}}</td>
					<td>
						<span class="fa fa-rocket launch-agenda-btn" ng-click="launchSavedAgenda(agenda)"></span>
						<span class="fa fa-trash delete-agenda-btn" ng-click="deleteAgendaDialogBox(agenda)"></span>
					</td>
				</tr>			
			</tbody>
		</table>
	</div>