<label>Saved Agendas</label>
	<div class="saved-agendas-container">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Created</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<!-- this will be in an ngRepeat -->
				<tr ng-repeat="agenda in agendaList | orderBy: 'dateCreated'">
					<td>{{agenda.title}}</td>
					<td>{{agenda.dateCreated | date: 'shortDate'}}</td>
					<td>
						<a ng-href="#/{{agenda.id}}"><span class="fa fa-rocket launch-agenda-btn" ng-click="closeDialogBox()"></span></a>
						<a ng-href="#/{{agenda.id}}"><span class="fa fa-trash delete-agenda-btn" ng-click="deleteAgendaDialogBox()"></span></a>
					</td>
				</tr>			
			</tbody>
		</table>
	</div>